@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1695191463967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canyin:before {
  content: "\e644";
}

.icon-jingdian:before {
  content: "\e645";
}

.icon-geren:before {
  content: "\e657";
}

